/* base */


/* Color Scheme
    From: http://www.colourlovers.com/pattern/1396072/Fifties
*/

$white: rgb(239,242,235);
$ltGrey: rgb(190,188,189);
$medGrey: rgb(155,156,158);
$dkGrey: rgb(72,74,84); // modified original of 103,106,123
$red: rgb(238,92,93);


$backgroundColor: $dkGrey;
$containerColor: $white;
$headerColor: $red;
$headerOutline: $dkGrey;
$footerColor: $dkGrey;
$footerTextColor: $white;
$textColor: $dkGrey;
$linkColor:$red;
$btnColor: $medGrey;
$btnTextColor: $white;
$linkHover: $white;
$highlightColorText: $dkGrey;
$highlightColorBackground: $dkGrey;
$highlightColorBkgHover: $medGrey;
$codeColor: $dkGrey;
$darkBorder: $dkGrey;
$activeBtnText: $white;
$activeBtnBackground: $red;

$radius: 12px;

@mixin borderRadius {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@media (min-width: 768px) {
  // because index page is so small
  .push {margin: 30px 0;}
}