/* custom */

@import "bootstrap";

/* Customizations to Bootstrap beyond color */

pre{margin: 20px 0;}


body {
  margin-top:-30px;
  padding-top: 30px;
  background:url("/img/japanese-transparent.png");
}



header.hero-unit, footer, .container-fluid{
  @include borderRadius;
}

header.hero-unit, footer, .container-fluid {
  a.btn:hover { background:$highlightColorBkgHover;}
}

header, footer {
  border: 3px solid darken($headerColor, 20%);
}

header {
  text-align:center;
  @media screen and (min-width: 1200px) {
    text-align:left;
  }
  a {
    @media screen and (min-width: 1200px) {
      float:right;
      margin-top: -70px;
    }
  }
}

.container-fluid {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    width: 80%;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}


footer {
  background: $footerColor;
  padding: 10px 20px;
  text-align:center;
  p {
    color: $footerTextColor;
    margin-top:7px;
  }
  @media screen and (min-width: 1200px) {
  text-align:left;
    p {
      display: inline-block;
      float:right;
    }
  }
}
